html, body  {
    background-color: #d0d3d3;
    min-height:100%;
}

.container  {
    min-height:100vh;
}
header  {
    background-color: #a06f2f;
}

h2  {
    color: #be2626;
}

.guitar-image  {
    max-height: 150px;
    max-width: 150px;
}

.email-warning  {
    background-color:red;
    color:white
}

/* in poll results */
#pollChart  {
    background-color:yellow;
    border: 1px solid black;
    height:500px;
    width:500px;
}

/*
#resList  {
    visibility:hidden;
}
*/
