{% extends "base.html" %}
{% block content %}
<div class="container center-align">
    <h2> Guitars Input Form </h2>
    <div class="row">
        <h4>{% if user is none %}
            Please Log In
            {% else %}
            Hi {{ user.user_name }}
            {% endif %}
        </h4>
    </div>
    <div class="row border1 center-align">
        <form class="col s12" action="{{ url_for('input_guitar') }}" method="POST" enctype="multipart/form-data">
            <div class="input-field">
                <input name="gtr_name" id="gtr_name" type="text" autocomplete="false" required>
                <label for="gtr_name">Guitar</label>
            </div>
            <div class="input-field">
                <input name="brand" id="brand" type="text" class="validate" autocomplete="false" required>
                <label for="brand">Brand</label>
            </div>
            <div class="input-field">
                <input name="gtr_type" id="gtr_type" type="text" class="validate" autocomplete="false" required>
                <label for="gtr_type">Guitar Type</label>
            </div>
            <div class="input-field">
                <input name="rating" id="rating" class="validate" type="number" min="0" max="5">
                <label for="rating">Rating (0-5)</label>
            </div>
            <div class="input-field">
                <textarea name="comment" id="comment" rows="4" cols="50" maxlength="200"></textarea>
                <label for="comment">Comment</label>
            </div>
            <div class="input-field border1 image-upload">
                <label for="image_id">Upload image</label>
                <input name="image_id" id="image_id" type="file" accept=".jpg,.jpeg,.png" required>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
{% endblock %}