{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="center-align"> Guitar List </h2>
    <div class="row">
        <h4 class="center-align">{% if user is none %}
            Please Log In
            {% else %}
            Hi {{ user.user_name }}
            {% endif %}
        </h4>
    </div>
    <div class="row center-align">
        <a href="{{ url_for('guitars_form') }}" class="waves-effect waves-light btn-large">Add guitar</a>
        <a href="{{ url_for('edit_user') }}" class="waves-effect waves-light orange darken-3 btn-large">Edit your
            details</a>
    </div>
    <div class="row center-align">
        {% for guitar in guitars %}
        <div class="col s12 border1">
            <h3>{{ guitar.gtr_name }}</h3>
            <div class="gtr-image-wrapper">
                {% if guitar.image_id is none or guitar.image_id=="" %}
                <img class="guitar-image" src="{{url_for('static', filename='images/randy.jpg'" alt="Placholder guitar image">
                {% else %}
                <img class="guitar-image" src="{{ guitar.image_id }}" alt="{{ guitar.gtr_name }}">
                {% endif %}
            </div>
            <p>Brand: {{guitar.brand}}</p>
            <p>Guitar Type: {{guitar.gtr_type}}</p>
            <p>Player Rating: {{guitar.rating}}</p>
            <p>Player Comment: {{guitar.comment}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}