{% extends "base.html" %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="details-updated">
        {% for message in messages %}
            <p>{{ message }}<p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="border1">
        <div class="row">
            <h4>{% if user is none %}
                Please Log In
                {% else %}
                Hi {{ user.user_name }}
                {% endif %}
            </h4>
        </div>
        <div class="row center-align">
            <form class="col s12" action="{{ url_for('get_user') }}" method="POST">
                <div class="input-field">
                    <input name="user_name" id="user_name" type="text" autocomplete="off" required>
                    <label for="user_name">Enter your username: </label>
                </div>
                <div class="col s9">
                    <button class="btn-small waves-effect waves-light col s6" type="submit">Log In</button>
                    <a href="{{ url_for('logout') }}" class="waves-effect waves-light btn-small red darken-4 col s6">
                        Log Out</a>
                </div>
                <div class="col s3">
                    <a href="{{ url_for('register') }}"
                        class="waves-effect waves-light btn-small register col s12">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}