{% extends "base.html" %}
{% block content %}

<div class="row">
    <h4>{% if user is none %}
            Please Log In
        {% else %}
            Hi {{ user.user_name }}
        {% endif %}
    </h4>
</div>

<div class="row">
    <form class="col s12" action="{{ url_for('get_user') }}" method="POST">
        <div class="row">
            <div class="input-field col">
                <input name="user_name" id="user_name" type="text" autocomplete="false" pattern="[A-Za-z0-9]+" required>
                <label for="user_name">Username: </label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Log In
            <i class="material-icons right">send</i>
        </button>
    </form>

        <a href="{{ url_for('edit_user') }}" class="waves-effect waves-light btn-large">
            <i class="material-icons left">cloud</i>Edit User</a>

        <a href="{{ url_for('register') }}" class="waves-effect waves-light btn-large">
            <i class="material-icons left">cloud</i>Register</a>
    </div>

    {% endblock %}